* {
    box-sizing: border-box;
}

:root {
    --night: #141715
}

@font-face {
    font-family: 'Monocode'; 
    src: url('fonts/monocode-regular.ttf') format('truetype');
  }

@font-face {
  font-family: 'Quantum';
  src: url('quantum.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
}

body{
    background-color: var(--night) !important;
}

/*Hero Section*/
.hero-container {
    position: relative; 
    margin-top: 200px;
    border: solid 2px #43ffbf;
    background-color: #43ffbf; 
    border-radius: 15px;
    width: 90% !important;
    overflow: hidden; 
    clip-path: polygon(8% 0, 92% 0, 100% 13%, 100% 86%, 92% 100%, 8% 100%, 0 86%, 0 13%);
}

.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--night); 
    border-radius: 15px;
    overflow: hidden; 
    clip-path: polygon(8% 0, 92% 0, 100% 13%, 100% 86%, 92% 100%, 8% 100%, 0 86%, 0 13%);
}

.hero-container-glow {
  filter: drop-shadow(0 0 5px rgba(67, 255, 201, 0.5)) drop-shadow(0 0 10px rgba(67, 255, 201, 0.3)) drop-shadow(0 0 15px rgba(67, 255, 201, 0.2)) drop-shadow(0 0 20px rgba(67, 255, 201, 0.1));
}


.hero-container img{
    width: 750px;
    margin: 100px 0px 50px 0px;
}

.hishotlogo-wrapper{
    z-index: 5;
  }

  .hero-wave {
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1900px; 
    height: auto; 
    top: -150px;
    right: 1px;
    overflow: hidden;
}

.inner-wrapper {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 180px;
    perspective-origin: 50% 40%;
    z-index: 1;
    filter: none;
}

.landscape {
    position: absolute; 
    width: 200%;
    left: -50%;
    height: 180%;
    bottom: -30%;
    background-image: -webkit-linear-gradient(top, #85ed964f 2px,transparent 2px), -webkit-linear-gradient(left, #85ed964f 2px, transparent 2px);
    background-size: 50px 50px, 80px 80px;
    background-position: -1px -1px, -1px -1px;
    transform: rotateX(20deg);
    animation: moveUp 1s infinite linear;
    filter: none;
  }
  
  @keyframes moveUp{
    0% {
      background-position: -50px -50px, -1px -1px;
    }
    100% {
      background-position: -1px -1px, -1px -1px;
    }
  }

  .button-container {
    position: relative;
    display: inline-block;
  }
  
  .hero-button {
    font-family: 'Monocode';
    display: block;
    width: 260px; 
    height: 85px; 
    padding-bottom: 10px;
    background-color: transparent; 
    color: #fff; 
    font-size: 16px; 
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    margin: 0px 20px 100px 20px;
    z-index: 10;
    clip-path: polygon(94% 0, 100% 18%, 100% 100%, 0 100%, 0 0);
    background-image: url(assets/button\ frame.png);
    background-size: cover;
    transition: ease-out 0.3s;
  }

  .hero-button:hover{
    background-color: #43ffc091;
  }

  .button-glow:hover{
    filter: drop-shadow(0 0 5px rgba(67, 255, 201, 0.5)) drop-shadow(0 0 10px rgba(67, 255, 201, 0.3)) drop-shadow(0 0 15px rgba(67, 255, 201, 0.2)) drop-shadow(0 0 20px rgba(67, 255, 201, 0.1));
    position: relative;
    z-index: 10;
    opacity: 1;
  }
  


/*Hero End*/


@media only screen and (max-width: 900px) {
    .hero-button-container{
        display: flex;
        flex-direction: row;
        padding: 10px;
      }
}

@media only screen and (max-width: 630px) {
    .hero-button-container{
        flex-direction: column;
    }
    
}
